services:

  api_server:
    build: .
    container_name: indicator_everywhere_api_server_container
    volumes:
      - .:/app
    ports:
      - "5000:5000"
    networks:
      - app-network

networks:
  app-network:
    external: true
    name: app-network