name: main

on:
  push:
    branches:
      - main  # Trigger when you push to main branch
  pull_request:
    branches:
      - main  # Trigger when you pull from main branch

jobs:
  test:
    uses: ./.github/workflows/test.yml
  
  lint:
    uses: ./.github/workflows/lint.yml

  build:
    needs: [lint, test]
    runs-on: ubuntu-latest
    steps:

    - name: Setup SSH key
      run: |
        echo "${{ secrets.EC2_INSTANCE_SECRET_KEY }}" > key.pem
        chmod 600 key.pem
    
    - name: Connect to EC2 and run commends
      run: |
        ssh -i key.pem -o StrictHostKeyChecking=no ec2-user@52.62.115.2 << EOF
          # Kill existing screen session if it exists
          screen -S indicators_everywhere -X quit || true
          
          # Wait for the session to be fully terminated
          sleep 2

          # Create new detached screen session
          screen -S indicators_everywhere -d -m
      
          # Execute commands in the screen session
          screen -S indicators_everywhere -X stuff $'cd /home/ec2-user/indicators_everywhere/\n'

          # Pull the latest code
          screen -S indicators_everywhere -X stuff $'git pull\n'

          # Install packages
          screen -S indicators_everywhere -X stuff $'pip install -r requirements.txt\n'

          # Kill existing server
          screen -S indicators_everywhere -X stuff $'pkill gunicorn\n'
          
          # Wait for the port to be released
          screen -S indicators_everywhere -X stuff $'sleep 5\n'

          # Run the server again
          screen -S indicators_everywhere -X stuff $'gunicorn -w 2 src.app.app:app\n'
        EOF
